{
  "env": {
    "development": {
      "presets": [
        [
          "@babel/preset-env",
          {
            "modules": false,
            "useBuiltins": "usage",
            "targets": {
              "node": "6.10"
            }
          }
        ]
      ],
      "plugins": [
        [
          "@babel/plugin-transform-runtime",
          {
            "helpers": true,
            "regenerator": false,
            "polyfill": false,
            "useBuiltIns": true,
            "useESModules": true
          }
        ],
        "@babel/plugin-proposal-object-rest-spread"
      ]
    },
    "test": {
      "presets": [
        [
          "@babel/preset-env",
          {
            "useBuiltins": "usage",
            "targets": {
              "node": "6.10"
            }
          }
        ]
      ]
    }
  }
}
