[production]
and_chr >= 59
chrome >= 57
edge
firefox >= 52
ie >= 11
ios_saf >= 10
safari >= 10
samsung >= 4

[development]
last 2 and_chr versions
last 2 chrome versions
last 2 edge versions
last 2 firefox versions
last 2 ios_saf versions
last 2 safari versions
last 2 samsung versions
